<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="10000" />
    <add key="Domain" value="http://localhost" />
    <add key="DomainConstraint" value="equal" />
    <add key="InstallEnabled" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=127.0.0.1;Initial Catalog=;User ID=;Password=;pooling=True;MultipleActiveResultSets=True;App=PageAdmin"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--
     targetFramework注意版本，开发环境为4.6.1，但是部分虚拟主机（如阿里云虚拟主机）只支持4.5，如果服务器不支持.NET Framework4.6.1,可自行修改targetFramework="4.5"的版本号
 -->
    <compilation targetFramework="4.5" />
    <!--
      httpRuntime节点的maxRequestLength的单位为kb，根据实际需求设置，不要设置太大，避免存在恶意请求占用服务器资源
 -->
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" executionTimeout="6000" enableVersionHeader="false" />
    <httpModules />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" domain="" />
    <sessionState mode="InProc" cookieName="sid" cookieless="false" stateConnectionString="tcpip=127.0.0.1:42424" timeout="30" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <modules />
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/E/HttpException/NotFound/" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/E/HttpException/Error/" responseMode="ExecuteURL" />
    </httpErrors>
    <security>
      <requestFiltering>
        <!--
          maxAllowedContentLength最大值为4294967295字节（3.99GB），使用中建议修改maxRequestLength的值即可。
          -->
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="AppData/Bin" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 24A12143-11A5-4626-9270-2AB1B1433489-->